In [1]:
#Q.1 Create a dataset as follow in the table
import pandas as pd
dataset={
    "Refund": ["Yes","No","No","Yes","No","Yes","Yes","No","Yes"],
    "Marital Status": ["Single","Married","Single","Married","Divorced","Married","Single","Married","Divorced"],
    "Taxable Income": ["125k","100k","70k","120k","220k","339k","123k","85k","854k"],
    "Cheat" : ["No","Yes","No","Yes","No","Yes","No","No","No"]
}
#da = pd.DataFrame(dataset)
da=pd.DataFrame(dataset,index= pd.RangeIndex(start=1,stop=10,name="S.No"))
print(da)

     Refund Marital Status Taxable Income Cheat
S.No
1       Yes         Single           125k    No
2        No        Married           100k   Yes
3        No         Single            70k    No
4       Yes        Married           120k   Yes
5        No       Divorced           220k    No
6       Yes        Married           339k   Yes
7       Yes         Single           123k    No
8        No        Married            85k    No
9       Yes       Divorced           854k    No

In [5]:
import pandas as pd
dataset={
    "Refund": ["Yes","No","No","Yes","No","Yes","Yes","No","Yes"],
    "Marital Status": ["Single","Married","Single","Married","Divorced","Married","Single","Married","Divorced"],
    "Taxable Income": ["125k","100k","70k","120k","220k","339k","123k","85k","854k"],
    "Cheat" : ["No","Yes","No","Yes","No","Yes","No","No","No"]
}
da = pd.DataFrame(dataset)
#da=pd.DataFrame(dataset,index= pd.RangeIndex(start=1,stop=10,name="S.No"))
print(da.loc[0])
print(da.loc[4])
print(da.loc[7])
print(da.loc[8])

Refund               Yes
Marital Status    Single
Taxable Income      125k
Cheat                 No
Name: 0, dtype: object
Refund                  No
Marital Status    Divorced
Taxable Income        220k
Cheat                   No
Name: 4, dtype: object
Refund                 No
Marital Status    Married
Taxable Income        85k
Cheat                  No
Name: 7, dtype: object
Refund                 Yes
Marital Status    Divorced
Taxable Income        854k
Cheat                   No
Name: 8, dtype: object

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
url="/content/data.csv"
df = pd.read_csv(url)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]